<%- include('partials/header'); -%>

<h1>Home</h1>

<p><%= homeStartingContent %></p>

<!-- Loop through myPost array from app.js using forEach -->
<% posts.forEach(function(param, idx) { %>

<div class="row">
  <div class="col">
    <h1><%= param.title %></h1>
  </div>
  <span class="mt-3 col-auto text-center">
    <a href="/post/<%= idx %>">Edit</a>
    <form class="d-inline" action="/post-delete" method="POST">
      <input type="hidden" name="postIndex" value="<%= idx %>">
      <button class="mb-1 p-0 btn btn-link" type="submit">Delete</button>
    </form>
  </span>
</div>

<% if (param.content.split(" ").length > 20) { %>
<div>
  <p class="mb-0"><%= param.content.substring(0, 100) + '...' %></p>
  <button
    id="content-<%= idx %>"
    onclick="toggleText(<%= JSON.stringify(param.content) %>, <%= idx %>)"
    class="p-0 btn btn-link"
  >
    read more
  </button>
</div>
<% } else { %>
<div>
  <p><%= param.content %></p>
</div>
<% } %> <% }); %>
<form action="/compose">
  <button type="submit" class="btn btn-primary button-margin">
    Create New Post
  </button>
</form>

<%- include('partials/footer'); -%>

<script>
  function toggleText(content, idx) {
    let btnContent = document.getElementById("content-" + idx);
    let p = btnContent.previousElementSibling;

    if (btnContent.innerHTML === "collapse") {
      p.innerHTML = content.substring(0, 100) + "...";
      btnContent.innerHTML = "read more";
    } else {
      p.innerHTML = content;
      btnContent.innerHTML = "collapse";
    }
  }
</script>
